[submodule "lib/loadSaveProcessor"]
	path = lib/loadSaveProcessor
	url = https://github.com/linbin823/Qt.lib.2016.loadSaveProcessor2.git
[submodule "src/3rd-party/loadSaveProcessor"]
	path = src/3rd-party/loadSaveProcessor
	url = https://github.com/linbin823/Qt.lib.2016.loadSaveProcessor2.git
